I am currently a postdoc in the "Scalable Database Systems" group at University of Passau, led by prof. Stefanie Scherzinger.

I received my PhD (2016-2020) from the University of Paraná, Brazil, under the supervision of prof. Eduardo Cunha de Almeida. Before that, I worked as a software engineer (2014-2016) at the SnT, University of Luxembourg, under the supervision of professors Dr. Yves Le Traon and Dr. Eduardo Cunha de Almeida.

My research interest is on data analytics and data-intensive systems. Check my [Google Schelar](https://scholar.google.com/citations?user=4IypnHsAAAAJ&hl=en).

